h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight : lighter;
    color : orange;
}
pre{
    color : white
}
b{
    color : white
}

body {
    background-color : black
}
p {
    color : white;
    font-family: 'Courier New', Courier, monospace;
    font: weight bold;
}
a{
    color : white;
}
#box {
    background-color : blue
}

.heading {
    color : green;
    font-weight : light;
    border-width : 2px;
    border-color: aliceblue;
    border-style: dashed;
}

#button1 {
    color : blue;
}
#main {
    color : blue;
    text-align : center;
    font-family : 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: blue wavy underline;
    border-width: 5px;
    border-style: solid;
    border-color: antiquewhite;
}