h1 {
    color : white;
}
pre{
    color : white
}
b{
    color : white
}

body {
    background-color : black
}
p {
    color : white;
}
a{
    color : white;
}
#box {
    background-color : blue
}

.heading {
    color : red;
}

#button1 {
    color : blue;
}
#main {
    color : blue;
    text-align : center;
    font-family : 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: blue wavy underline;
}